.header{
	background: #2d3e50;
	color: #fff;
	direction: ltr;
}
.header .navbar{
	margin-bottom: 0;
	display: inline-block;
	vertical-align: middle;
}
.header a,.header a:hover{
	color: #fff;
	line-height: 50px;
}
.header .content{
	padding: 0.5em 4.5%;
}
.content{
	padding: 1.5em;
	padding-left: 5%;
	padding-right: 5%;
	max-width: 1230px;
	margin: 0 auto;
}
.content-doc{
	padding: 1% 1.5%;
	font-size: 14px;
}
.content-striped{
	background: #fafafa;
}
.content-splash{
	background: #2d3e50;
	color: #fff;
	border-top: 1px solid #48698a;
	min-height: 292px;
}
.content-bg1{
	background-image: url('images/bg1.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}
.content-splash h1{
	color: #fff;
}
.content-subhead{
	color: #1f8dd6;
}
@media only screen and (max-width:767px) {
	#elogo{
		display: none;
	}
	#navbar-1{
		display: none;
	}
	#navbar-2{
		display: none;
	}
}
.navigation-toggle{
	background: #2d3e50;
	color: #fff;
	background-image: url('images/navmenu.png');
	background-position: left center;
	background-repeat: no-repeat;
}
.navigation-toggle::after{
	content: '';
}
.navigation-toggle.navigation-toggle-show{
	margin: 0;
}
h4{
	color: #2575ed;
	margin: 0.5em 0;
}

textarea.html,textarea.js{
	width:100%;
	height:80px;
	overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

.datebox-button,
.tree-editor,
.slider-inner,
.pagination-num{
	box-sizing: content-box;
}

.doc-table{
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	margin-bottom: 1.65em;
}
.doc-table th,.doc-table td{
	border:1px solid #8CACBB;
	padding:0.3em 0.7em;
}
.doc-table th{
	background:#eee;
}
.doc-table pre{
	font-family:Verdana;
	font-size:12px;
	color:#006600;
	background:#fafafa;
	padding:5px;
	margin: 12px 0;
	line-height: 120%;
}
.doc-table p{
	margin: 14px 0;
	line-height: 100%;
}

.icon-base{
	background:url('images/basic.png') no-repeat;
}
.icon-layout{
	background:url('images/layout.png') no-repeat;
}
.icon-menu{
	background:url('images/menu.png') no-repeat;
}
.icon-form{
	background:url('images/form.png') no-repeat;
}
.icon-window{
	background:url('images/window.png') no-repeat;
}
.icon-datagrid{
	background:url('images/grid.png') no-repeat;
}
.icon-gears{
	background:url('images/gears.png') no-repeat;
}

.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}

.min500h{min-height:500px;*+height:100%;_height:500px;}

	.dv-table td{
		border:0;
		width:140px;
		padding-left:10px;
	}
	.dv-table th{
		width:80px;
	}
	.dv-label{
		font-weight:bold;
		color:#15428B;
		width:80px;
		text-align:right;
	}