html, body {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}

.page {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 1;
}
.page__ft {
	margin-top:10px;
}

.mtop5 {
	margin-top:5px;
}

.no-top-line:before{
	border-top:0px;
}