html, body {
	height: 100%;
	-webkit-tap-highlight-color: transparent;
}

.page {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 1;
}
.page__ft {
	margin-top:10px;
}

.mtop5 {
	margin-top:5px;
}

.no-margin-top:before{
	margin-top:0px;
}

.no-top-line:before{
	border-top:0px;
}
.line_block {
	display:inline-block;
}
.hot{
	display:inline-block;
	margin-left:10px;
	margin-right:10px;
	font-size:16px;
}
.upimg{
			width:79px;
			height:79px;
			display:inline;
			margin-right:5px;
		}